.album-result-container {
    width: 90%;
    height: 200px;
    border-radius: 30px;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    margin: 20px 0px;
}

.album-result-container a {
    font-size: 50px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
